// LES STYLES DE BASE DES BALISES <h>
h1, h2, h3, h4, h5, h6 {
  @include font($ff-heading); // Ne pas mettre le size?
  line-height: 1; // Est-ce la bonne façon de faire ?
}

h1, h2 {
  text-transform: uppercase;
}