//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

//Couleur projet spécifique


// Couleur de projet
$color-accent: $black;

// Couleur du texte
$color-text: lighten($black, 15%);

// Couleur des liens
$color-link: $color-text;