//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

/// Dimension maximal
$max-width: 1200px;
$page-padding: 15px;


// Largeur des images
$img-size: 100%;
/// Viewports sizes
/// Dimension pour les media query

