//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-text-normal: rem(16);


// Grosseur des headings
$h1-font-size: rem(60);
$h2-font-size: rem(24);
$h3-font-size: $h2-font-size;
$h4-font-size: rem(22);
$h5-font-size: rem(20);
$h6-font-size: rem(16);

/// Font family
$ff-heading: 'Saira Extra Condensed', sans-serif;
$ff-general: 'Open Sans Condensed', sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;


// Line-height
$lh-normal: rem(24)