//FONCTION POUR CALCUL DES REMS
@function rem($fz) {
  @return ($fz / 16) + rem;
}

//MIXIN POUR AJOUTER UNE FONT
@mixin font($family, $size: 'inherit') {
  font-family: $family;
  font-size: $size;
}

